#header img { /*логитип*/
    float: left;
    width: 140px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#header { /*шапка*/
    max-width: 960px;
    margin: 0 auto;
    background-color: #9f91f4;
    padding: 10px;
    height: 130px;
}

#shapka {/*шапка на название*/
    background-color: #c1b9f3;
    padding: 10px;
}

#menu {/*ссылки меню*/
    max-width: 960px;
    background-color: #c1b9f3;
    margin: 10px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
}

#ssilki {/*гиперссылки*/
    max-width: 960px;
    background-color: #c1b9f3;
    margin: 0 auto;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
}

#table {/*таблица*/
    width: 960px;
    margin: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}

#forma {/*форма*/
    max-width: 960px;
    background-color: #c1b9f3;
    margin: 10px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
}


#nechet {/*нечЄтные €чейки таблицы*/
    border: 1px solid black;
    background-color: #c1b9f3c2;
}

#chet {/*чЄтные €чейки таблицы*/
    border: 1px solid black;
    background-color: #a599ec;
}

#footer {/*подвал*/
    width: 100%;
    background-color: #9f91f4;
    padding: 10px;
    position: relative;
    text-align: right;
}