body{
    background-image: url(fon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffffff50;
}

header main, header aside{
  background-color: #ffffff50;
  font-family: fangsong;
  font-weight:bold;
  height: 100%;
}

h1 {
  text-align: center;
}

.shapka{
  background-color:#fbff00c0;
}

.poloska {
  background: #fbff00c0;
  padding-bottom:1%;
  margin-bottom: 8px;
} 

.gallery{
    background-color: #ffffff50;
}

.slider {
  width: 50%;
  margin:auto;
  width: 85%;
}


.slider img{
  width: 50%;
  height: 50%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.ex-num{
  position: relative;
  text-align: center;
  color: white;
  background-color: rgb(0, 0, 0);
}

#osnova{
    font-family: fangsong;
    font-weight:bold;
}

  .half {
    float: left;
    width: 100%;
    padding: 0 1em;
  }
  /* Acordeon styles */
  .tab {
    position: relative;
    margin-bottom: 5px;
    width: 100%;
    color: rgb(0, 0, 0);
    overflow: hidden;
  }
  .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #fbff00c0;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
  }

  .tab-content {
    max-height: 0;
    overflow: auto;
    background: #ffffffb0;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
  }
  .tab-content p {
    margin: 1em;
  }
  /* :checked */
  .tab input:checked ~ .tab-content {
    max-height: 100vh;
  }
  
  /* Icon */
  .tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  .tab input[type=checkbox] + label::after {
    content: "+";
  }
  .tab input[type=radio] + label::after {
    content: "\25BC";
  }
  .tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
  }
  .tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
  }

.podrobnee{
    margin-top: 5px;
    margin-bottom: 10px;
    background:#ffffff50;
    font-family: fangsong;
    font-weight:bold;
    text-align: center;
    color: rgb(0, 0, 0);
}

#wrapper {
  display: none;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.678);
  }
.modalcontent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}
#contact {
  padding: 10px;
  border-radius:3%;
  background: #fbff00c9;
}
#close{
      float: right;
      cursor: pointer;
      margin-right: 3%;
  }

  #showbutton{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top:3%;
    padding: 15px 32px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #fbff0098; 
    border: none;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    box-shadow: 0 9px #00000098;
    text-decoration: none;
    display: inline-block;
    font-family: fangsong;
    font-weight:bold;
}
#showbutton:hover {
  background-color: #00000077;
  color:white;
  box-shadow: 0 9px #fbff0098;
}

#showbutton:active {
  background-color: #ffffff60;
  color:black;
  box-shadow: 0 5px rgba(245, 229, 0, 0.445);
}

.foot{
  background: #ffffff50;
  padding-top:10px;
}
footer{
  background: #fbff00c0;
    font-family: fangsong;
    font-weight:bold;
    padding-bottom:30px;
    padding-right:1%;
    text-align: right;
}









  
  
  
